<h2>Update User <%= link_to 'New User', "image/new", class: 'new-image' %></h2>

<section id="users">
    <div class="front">

<% @images.each do |image| %>
<%= image_tag image.avatar.url(:medium) %>
	<% end %>
  </div>
</section>