<!DOCTYPE html>
<html>
<head>
	<title>Odyssey: Your Journey Starts here </title>
</head>
<body>


  <div id="myCarousel" class="carousel slide homeslider" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner full-screen">
      <div class="item active">
      <img class="center-block img-fluid full-screen" src="https://68.media.tumblr.com/12c5f33ffa9a36b2524a215913ee0706/tumblr_op2xhfqRfi1qerjyso1_1280.png" alt="First slide">    
      </div>

      <div class="item">
      <img class="center-block img-fluid full-screen" src="https://68.media.tumblr.com/312829e116378b50a691cc5824691aff/tumblr_op2yuwXtQZ1qerjyso1_1280.png" alt="second slide">
      </div>

      <div class="item">
      <img class="center-block img-fluid full-screen" src="https://68.media.tumblr.com/15e9cfd4b6cfeb7898adc3f06762ca3d/tumblr_op4m3kGzs31qerjyso1_1280.png" alt="Third slide">
      </div>
    </div>
    
  </div>
<!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>

  p8

  <div class="buttonwrapper">
    <p class="viewmore"><a href=""><img src= "https://68.media.tumblr.com/0d8ff4bd06f1f0e545d5cff2c1bab4da/tumblr_op39imTbcw1qerjyso1_250.png"></a></p>
    <p class="viewmore"><a class="login" href=""><img src= "https://68.media.tumblr.com/daeafd58b33f3dc2433296480cc5c4f6/tumblr_op39imTbcw1qerjyso2_250.png"></a>
    <a class="signup" href=""><img src= "https://68.media.tumblr.com/f6270927d1d6442e0b420b5962156e83/tumblr_op39imTbcw1qerjyso3_250.png"></a></p>
 </div> 


</body>
</html>