/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.full-screen {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  position: absolute;
}

.logo {
	text-align: center;
	font-family: Avenir;
	
}

.nav  {
 	padding-top: 20px;
    font-size: 20px;
    padding-left: 20px;
    
    
}

.navbar-text{
  margin-top: 8px;
}

.viewmore {

	text-align: center;
    top: 50%;
    left: 50%;

}

#profile-icon {

	width: 40px;
	height: 40px;
    clear: both;
	float: right;
	margin-right: 35px;
}

.carousel {

	position:absolute;
	width:100%;
	height:100%;
	z-index: -99;

	}

.buttonwrapper {

	position: absolute;
	bottom: 30px;
	left:41%;
	padding-bottom: 30px

	}

.carousel-control.left, .carousel-control.right {
   background-image: none
}

.profile-on-boarding {
	font-family: avenir;
}

.letter-head {
	font-family: black diamond;
}

.clearfix {
	float: right;
	width: 621px;
	padding-top:30px;

}

.width-of-content{
	width: 950px;
	margin-left: 160px;
	margin-right: 160px;
}

.yourtrips{
	font-family: Avenir;
	text-align: Center;

}

.borderbottom{
	border-bottom: 1px solid;
	width: 115px;
	margin-left:417px;

}

.user-appended-icons {
	padding-top: 30px;
}
.icon {
	padding: 30px;
}

.left .carousel-control{
	margin-top: 30 px;
}

.right .carousel-control{
	margin-top: 30 px;
}

.navbar-text.pull-right {
	text-align:center;
}

.carousel-indicators {
	margin: 0 auto;
}


#ed {
	margin-top: 45%;
	padding: 20px;
	//position: absolute;
}

.merci-car {
	padding: 20px;
}

#flights {
  margin-left: 10px;
}


.date_picker {
  margin-left: 10px;

}

.eventful {
  margin-left: 10px;
}

.input {
  width: 10px;
}
.this{
	position: absolute;

}
.flight_box{
	width: 400px;

}
.flight_box2{
	width: 200px;

}

h2{
	font-family: Avenir-book;
	font-size: 60px;
}

#hide{
	display: none;
}