<div class="date_picker">
 <form>
   Flight leave:
   <input type="date" name = "flight_leave"class = "flight_leave" value="">
   Flight return:
   <input type="date" name = "flight_return" class = "flight_return">
   <input class="date_clicker_button"type="submit">
  </form>
</div>